.container {
    width: 80%;
    margin: auto;
    margin-top: 6vh;
}

.container label {
    width: 150px;
}

.container input {
    width: 80%;
    margin-right: 20px;
}

.container p {
    text-align: center;
    margin: 5vh 0px;
    display: flex;
    justify-content: space-evenly;
}

.action {
    text-align: center;
}

.action button {
    margin: 5vh 10vw;
}

@media (max-width: 600px) {
    .container {
        width: 97%;
    }

    .container input {
        width: 90%;
        margin-right: 20px;
    }

    .container p {
        justify-content: center;
        flex-wrap: wrap;
    }

    .container p > button {
        margin-top: 2vh;
    }
}
