.container {
    width: 80%;
    margin: auto;
    margin-top: 6vh;
}

.container label {
    width: 150px;
}

.container input {
    width: 80%;
    margin-right: 20px;
}

.container p {
    margin: 5vh 0px;
    display: flex;
    justify-content: space-evenly;
}

.action {
    text-align: center;
}

.action button {
    margin: 5vh 10vw;
}
